<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>列子</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">-->
	
</head>
<body>
	
	<div id="app-main"></div>

	<script src="./systemjs/system.js"></script>
	<script>
		var SystemJSConfigMain = <%= JSON.stringify(htmlWebpackPlugin.files.chunks) %>;
		(function(){
			var config = (function(){
				var hash = '';
				var r = {
					meta: {
						'*.js': {
							format: 'global',
							scriptload: true
						}
					},
					map: {

					}
				};
				for (var key in SystemJSConfigMain) {
					var _item = SystemJSConfigMain[key];
					var _key = '_' + key;
					r.map[_key] = _item.entry + '?' + _item.hash;
					hash += _item.hash;
					r.meta[_key] = {
						format: 'global',
						scriptload: true
					}
				}
				return {
					hash: hash,
					r:r
				};
			})();
			SystemJS.config(config.r);
		
			SystemJS.import('./config<%= htmlWebpackPlugin.options.minName %>.js?' + config.hash);
		})();
	</script>

</body>

</html>